<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="88Font" class="jzx.ascii.Font88"></bean>
    <bean id="916Font" class="jzx.ascii.Font916"></bean>

    <bean id="mypanel" class="jzx.ascii.AsciiPanel">
        <property name="font" ref="916Font"/>
    </bean>
</beans>